<!DOCTYPE html> <!-- ejs = 임베디드 자바 스크립트 -->
<html>
<head>
    <title><%= title %></title> <!-- title 은 변수 - index.js에서 title을 지정 -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h3>About</h3>
<p>I'm <%= name %>. created by superMoon. <%= title %></p>
<p>this is about page. created by superMoon.</p>
<p>투자금 : <%= money %>, </p>
</body>
</html>
