<!DOCTYPE html>
<html lang="en">

<head>
    <% include nav/header.ejs %>
</head>

<body>

    <% include nav/nav.ejs %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                   <p class="lead">Group Name</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">setting1</a>
                <a href="#" class="list-group-item">setting2</a>
                <a href="#" class="list-group-item">setting3</a>
            </div>
        </div>

            <!--  contents  -->
            <div class="col-md-9">

                <h1>default</h1>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <% include nav/footer.ejs %>
</body>

</html>
